<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/header") %>
    <title>Post</title>
  </head>
  <body>
    <%- include ("components/nav") %>
    <main style="padding: 3rem">
      <%- include ("components/message") %>
      <form action="/profile/post" method="POST">
        <div class="form-group">
          <label for="exampleforTitle">Title</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="exampleforTitle"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="exampleforContent">Content</label>
          <textarea
            class="form-control"
            id="exampleforContent"
            aria-describedby="emailHelp"
            name="content"
          /></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
  </body>
</html>
